@import "../../../styles/colors";

$numberSize: 26px;

@mixin color($font_color, $bg_color) {
  color: $font_color;
  background-color: $bg_color;
}

#KeywordRanking {
  @include color($fc_blue400, $bg_white);
  padding: 20px;
  border-radius: 5px;
  h3 {
    font-size: 14px;
    margin-bottom: 14px;
  }
  li {
    height: 45px;
    margin-bottom: 4px;
    padding: 10px 16px;
    border-radius: 5px;
    font-weight: 700;
  }
  li:first-of-type {
    @include color($fc_blue100, $bg_gray100);
    border: 1px solid $fc_blue100;
  }
  li:first-of-type span {
    @include color($fc_white, $bg_blue100);
  }

  li:last-of-type {
    margin-bottom: 0;
  }
}
.ranking {
  @include color($fc_blue400, $bg_gray100);
  width: $numberSize;
  height: $numberSize;
  line-height: $numberSize;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  margin-right: 12px;
}
