#LoginLayout {
  main {
    width: 100vw;
    display: flex;
    height: 100vh;
  }
}
.mainWrap {
  width: 50vw;
  height: 100vh;
}
.slideBannerWrap {
  width: 50vw;
  height: 100vh;
  background: blue;
}
