@import "../../../styles/colors";

@mixin size($w, $h) {
  width: $w;
  height: $h;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  @include size(460px, 383px);
  border: {
    width: 0px 1px 1px 1px;
    style: solid;
    color: $lc_blue100;
    radius: 0px 5px 5px 5px;
  }
  .inputWrapper {
    width: 460px;
    @include center;
    flex-direction: column;
    padding-top: 40px;
    gap: 16px;
  }
  .errorMsg {
    text-align: center;
    color: $fc_red;
    margin-top: 24px;
  }
  .buttonWrapper {
    @include center;
    flex-direction: column;
    &.row {
      flex-direction: row;
      margin-top: 32px;
      color: $fc_gray500;
      button {
        border: none;
        background: none;
        color: $fc_gray500;
        cursor: pointer;
      }
    }
  }
}
