@import "../../../styles/colors";

#nav {
  width: 13vw;
  background-color: $bg_white;
  position: relative;
  button {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 18px;
  }
}
//bizMoney
.bizMoney {
  width: 100%;
  height: 168px;
  background-color: $bg_gray300;
}
//nav
.asideNav {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  margin: 40px 0 0 0;
  padding-left: 45px;
  line-height: 56px;
  li {
    margin-top: 8px;
  }
}
//클릭 비활성
.inactive {
  color: $fc_blue400;
}
//클릭활성
.isActive {
  font-weight: 700;
  color: $fc_blue100;
  &:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 56px;
    left: 0;
    background-color: $fc_blue100;
    border-radius: 0% 100px 100px 0;
  }
}
