@import "../../styles/colors";
button {
  border: none;
  &.login {
    width: 335px;
    height: 52px;
    border-radius: 5px;
    font-size: 16px;
    color: $fc_white;
    &.blue {
      background: $bg_blue100;
    }
    &.jigu {
      background: $bg_gray200;
      color: $fc_blue400;
    }
  }
  &.second {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    color: $fc_white;
    &.blue {
      background: $bg_blue100;
    }
    &.white {
      background: $bg_white;
      color: $bg_blue100;
      border: 1px solid $lc_blue100;
    }
  }
  &.third {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    color: $fc_white;
    &.blue {
      background: $bg_blue100;
    }
    &.white {
      background: $bg_white;
      color: $fc_blue100;
      border: 1px solid $lc_blue100;
    }
  }
  &.forth {
    width: 90px;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    color: $fc_white;
    background: $bg_blue400;
  }
  &.fifth {
    height: 40px;
    border-radius: 5px;
    border: 1px solid $lc_blue400;
    font-size: 14px;
    color: $fc_blue400;
    background: $bg_white;
    &.download {
      width: 130px;
    }
    &.delete {
      width: 103px;
    }
  }
  &.sixth {
    width: 50px;
    height: 28px;
    border-radius: 5px;
    font-size: 14px;
    color: $fc_white;
    background: $bg_blue200;
  }
  &.seventh {
    height: 40px;
    font-size: 14px;
    border-top: 1px solid $lc_blue400;
    &.cancel {
      width: 129px;
      background: $bg_white;
      color: $fc_blue400;
    }
    &.del {
      width: 125px;
      background: $bg_blue400;
      color: $fc_white;
      border-radius: 0 0 5px 0;
    }
  }
  &.eight {
    width: 264px;
    height: 40px;
    border-radius: 5px;
    border-top: 1px solid $lc_gray400;
    font-size: 14px;
    color: $fc_blue400;
    background: $bg_white;
  }
}
