@import "../../../styles/colors";

.chartContainer {
  width: 86vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  .chart {
    width: 83vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    background: $bg_white;
    padding: 30px;
    border-radius: 5px;
  }
}
.pagination {
  margin-top: 40px;
  padding-bottom: 40px;
}
